# List of files or directories to ignore
.Rapp.history
Janz_et_al_Supp_info_comp.pdf
OH-reply-junk.R
OH-reply-code (Autosaved).R
Images/
Janz_Data.zip
Hardy_comments.txt
OH-reply-code-junk.R
Evolution_script2.R
